<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- La ruta se aigna leyendo el archivo .txt -->
<bean id="asignacion" class="com.domicilio.bean.Asignacion">
<property name="drone" ref="drone"></property>
<!--  <property name="ruta" ref="ruta"></property> -->
</bean>
   
   <!-- inicializacion bean Drone -->
   <bean id="drone" class="com.domicilio.bean.Drone">
   <property name="id" value="1"></property>
   <property name="location" ref="location"></property>
   </bean>
   
   
   
   <bean id="location" class="com.domicilio.bean.Location">
   <property name="coordenadaX" value="0"></property>
   <property name="coordenadaY" value="0"></property>
   <property name="puntoCardinalInicial" value="dirección Norte"></property>
   </bean>
   
   <bean id="fileparser" class="com.domicilio.util.FileParser">
   <property name="rutaLectura" value="src/main/resources/"></property>
   <property name="archivoIn" value="in.txt"></property>
   </bean>
   
   <bean id="filecreator" class="com.domicilio.util.FileCreator">
   <property name="rutaEscritura" value="src/main/resources/"></property>
   <property name="archivoOut" value="out.txt"></property>
   </bean>
   
   
 </beans>